<div class="container">
  <div class="card">
    <div class="card-header">
      Reactive Forms
    </div>
    <div class="card-body">
      <!-- <form (submit)="formSubmit($event)">
        <mat-form-field>
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Sushi" />
        </mat-form-field>
      </form> -->

      <form class="form-md">
        <div class="form-group">
          <!-- <app-shared-input></app-shared-input> -->
          <input
            id="form_name1"
            class="form-control"
            type="text"
            placeholder="Ex. Jens"
            required
          />
          <label for="form_name1">Firstname</label>
        </div>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Reactive Forms
    </div>
    <div class="card-body">
      Description
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Reactive Forms
    </div>
    <div class="card-body">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui ipsum animi
      quasi consequatur itaque distinctio eveniet veritatis, quod, officia
      numquam inventore dolore sit quae suscipit voluptatum officiis! Totam aut
      deserunt delectus sed quam nobis natus blanditiis quasi consequuntur qui
      officiis, sapiente suscipit et magni unde cum quidem veritatis? Maiores
      delectus ducimus velit animi earum fuga totam quos possimus, ratione iste
      mollitia neque sed aspernatur facere dolorem ipsa repellendus quasi ipsam
      qui nam? Id temporibus accusantium vel ducimus possimus adipisci ab
      eveniet sint. Labore aliquam vero architecto odio consequatur veritatis
      ipsa molestiae, esse sit commodi exercitationem hic nesciunt voluptates
      ducimus iste!
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Reactive Forms
    </div>
    <div class="card-body">
      Description
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Reactive Forms
    </div>
    <div class="card-body">
      Description
    </div>
  </div>
</div>
